.vacancy {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  outline: none;
  border: 2px solid transparent;
  transition: background-color .2s ease-in-out;
}

.vacancy:hover {
  background-color: #F9FAFF;
}

.vacancy:focus-visible {
  border-color: #A6ADFF;
}

.vacancy__img {
  display: block;
  align-self: self-start;
  max-height: 44px;
  margin-bottom: 4px;
}

.vacancy__company {
  font-size: 20px;
}

.vacancy__title {
  padding: 3px 5px;
  border-radius: 4px;
  background-color: #EAECFF;
  align-self: self-start;
}

.vacancy__fields {
  color: #ccc;
}